.courses {
    background-color: #F7F7F7;
    padding: 80px 150px;
    min-height: calc(100vh - 243px);
}

.courses .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}